
.AboutPage{
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  box-sizing: border-box;
  max-width: 80%;
  padding: 30px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  z-index: -1;
  position: relative;
}
.paintingPage{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 gap: 10px;
 justify-content: center;
 border-radius: 15px;
}
.paintingPage img{
  border-radius: 15px;
}

