.intro{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width:800px;
  margin:0 auto;
}
.introText{
  text-align: left;
  font-size: large;
}
.Logo{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
}

.subtext{
  font-size: 24px;
}




